Repository projectcapsule/capsule: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

.pre-commit-config.yaml:

repos:
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.22.0
  hooks:
  - id: commitlint
    stages: [commit-msg]
    additional_dependencies: ['@commitlint/config-conventional', 'commitlint-plugin-function-rules']
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-executables-have-shebangs
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.0
  hooks:
  - id: yamllint
    args: [-c=.github/configs/lintconf.yaml]
- repo: local
  hooks:
  - id: run-helm-docs
    name: Execute helm-docs
    entry: make helm-docs
    language: system
    files: ^charts/
  - id: run-helm-schema
    name: Execute helm-schema
    entry: make helm-schema
    language: system
    files: ^charts/
  - id: run-helm-lint
    name: Execute helm-lint
    entry: make helm-lint
    language: system
    files: ^charts/
  - id: golangci-lint
    name: Execute golangci-lint
    entry: make golint
    language: system
    files: \.go$

chore(deps): update dependency kubernetes-sigs/controller-tools to v0.18.0
  charts/capsule/crds/capsule.clastix.io_capsuleconfigurations.yaml
  charts/capsule/crds/capsule.clastix.io_globaltenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat: Permission API block
  api/v1beta2/permission.go
Due: golangci-lint

feat: Permission API block
  api/v1beta2/tenant_types.go
Due: golangci-lint

feat: Permission API block
  controllers/tenant/manager.go
Due: golangci-lint

feat: Permission API block
  controllers/tenant/rolebindings.go
Due: golangci-lint

feat: improve code quality
  PROJECT
  api/v1beta2/resourcepool_func.go
  api/v1beta2/resourcepool_status.go
  api/v1beta2/resourcepool_types.go
  api/v1beta2/resourcepoolclaim_types.go
  api/v1beta2/resourcepoolusage_types.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_resourcepoolclaims.yaml
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  charts/capsule/values.yaml
  claim-test.yaml
  cmd/main.go
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  e2e/resourcepoolclaim_test.go
  old/resourcepool_test.go
  pkg/meta/conditions.go
  pkg/webhook/resourcepool/claim_validating.go
  pkg/webhook/route/resourcepool.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

chore: add addons
  api/v1beta2/resourcepoolclaim_func.go
  api/v1beta2/resourcepoolclaim_types.go
  charts/capsule/README.md
  charts/capsule/crds/capsule.clastix.io_resourcepoolclaims.yaml
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  charts/capsule/values.schema.json
  controllers/resourcepools/pool_controller.go
  e2e/resourcepoolclaim_test.go
  pkg/api/status.go
  pkg/webhook/resourcepool/claim_validating.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

chore: add addons
  api/v1beta2/resourcepool_types.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  charts/capsule/crds/capsule.clastix.io_resourcepoolusages.yaml
  claim-test.yaml
  cmd/main.go
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  e2e/resourcepoolclaim_test.go
  pkg/indexer/resourcepool/namespaces.go
  pkg/meta/ownerreference.go
  pkg/webhook/resourcepool/claim_mutating.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

chore: add addons
  api/v1beta2/resourcepool_func.go
  api/v1beta2/resourcepool_status.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  claim-test.yaml
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  e2e/resourcepool_test.go
  old/resourcepoolclaim_test.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

chore: add addons
  api/v1beta2/resourcepoolclaim_func.go
  api/v1beta2/resourcepoolclaim_types.go
  claim.yaml
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  pkg/meta/conditions.go
  pkg/webhook/resourcepool/claim_mutating.go
  pkg/webhook/resourcepool/claim_validating.go
  pkg/webhook/resourcepool/pool_mutating.go
  pkg/webhook/resourcepool/pool_validation.go
  quota.yaml
Due: golangci-lint

chore: add addons
  api/v1beta2/resourcepool_func.go
  controllers/resourcepools/pool_controller.go
Due: golangci-lint

docs: add sops operator
  api/v1beta2/resourcepool_func.go
  api/v1beta2/resourcepool_types.go
  api/v1beta2/zz_generated.deepcopy.go
  busy-deploy.yaml
  charts/capsule/README.md
  charts/capsule/crds/capsule.clastix.io_resourcepoolclaims.yaml
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
  controllers/resourcepools/pool_controller.go
  controllers/resourcepools/utils.go
  migration.yaml
  pkg/meta/annotations.go
  pkg/meta/labels.go
  pkg/utils/names.go
  pkg/utils/tenant_labels.go
  pkg/webhook/generic/freeze/handler.go
  pkg/webhook/resourcepool/claim_mutating.go
  pkg/webhook/resourcepool/pool_mutating.go
  quota.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): support gateway/class
  api/v1beta2/gateway_options.go
  api/v1beta2/tenant_types.go
Due: golangci-lint

feat(tenant): support gateway/class
  go.mod
  go.sum
  pkg/webhook/defaults/handler.go
Due: golangci-lint

feat(tenant): support gateway/class
  pkg/webhook/defaults/gateway.go
  pkg/webhook/tenant/gatewayclass_regex.go
Due: golangci-lint

feat: Permission CRD
  api/v1beta2/permission.go
Due: golangci-lint

feat: Permission CRD
  api/v1beta2/tenantpermission.go
Due: golangci-lint

feat(tenant): support gateway/class
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_capsuleconfigurations.yaml
  charts/capsule/crds/capsule.clastix.io_globaltenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/values.yaml
  main.go
  pkg/webhook/defaults/gateway.go
  pkg/webhook/defaults/handler.go
  pkg/webhook/gateway/utils.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): support gateway/class
  charts/capsule/crds/capsule.clastix.io_capsuleconfigurations.yaml
  charts/capsule/crds/capsule.clastix.io_globaltenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): support gateway/class
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  main.go
  pkg/webhook/defaults/errors.go
  pkg/webhook/defaults/gateway.go
  pkg/webhook/gateway/errors.go
  pkg/webhook/gateway/utils.go
  pkg/webhook/gateway/validate_class.go
  pkg/webhook/route/gateway.go
  pkg/webhook/utils/resources.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): support gateway/class
  charts/capsule/README.md
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): support gateway/class
  charts/capsule/values.schema.json
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): support gateway/class
  pkg/webhook/defaults/gateway.go
  pkg/webhook/defaults/handler.go
  pkg/webhook/gateway/errors.go
  pkg/webhook/gateway/utils.go
  pkg/webhook/gateway/validate_class.go
Due: golangci-lint

feat(tenant): support gateway/class
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  pkg/webhook/tenant/gatewayclass_regex.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): support gateway/class
  main.go
  pkg/webhook/defaults/gateway.go
  pkg/webhook/defaults/handler.go
  pkg/webhook/gateway/errors.go
  pkg/webhook/gateway/validate_class.go
  pkg/webhook/utils/resources.go
Due: golangci-lint

feat(tenant): support gateway/class
  api/v1beta2/gateway_options.go
  api/v1beta2/zz_generated.deepcopy.go
  pkg/api/allowed_list.go
  pkg/api/zz_generated.deepcopy.go
  pkg/webhook/gateway/errors.go
  pkg/webhook/gateway/validate_class.go
  pkg/webhook/utils/error.go
Due: golangci-lint

feat(tenant): support gateway/class
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
  main.go
  pkg/api/allowed_list.go
  pkg/api/zz_generated.deepcopy.go
  pkg/webhook/utils/error.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): support gateway/class
  pkg/webhook/defaults/gateway.go
Due: golangci-lint

chore: fix gomod
  go.mod
  go.sum
Due: none

chore: correct webhooks
  charts/capsule/templates/validatingwebhookconfiguration.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): support gateway/class
  Makefile
  e2e/gateway_class_test.go
Due: golangci-lint

chore: fix harpoon image
  Dockerfile.tracing
Due: none

chore: improve e2e
  api/v1beta2/resourcepool_types.go
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  controllers/tenant/manager.go
  controllers/tenant/resourcequotas.go
  e2e/resourcepool_test.go
  pkg/meta/ownerreference_test.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): support gateway/class
  Makefile
Due: none

chore: fix status handling
  controllers/resourcepools/pool_controller.go
Due: golangci-lint
