Repository projectcapsule/capsule: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

run-helm-docs:
  name: Execute helm-docs
  entry: make helm-docs
  language: system

run-helm-schema:
  name: Execute helm-schema
  entry: make helm-schema
  language: system

run-helm-lint:
  name: Execute helm-lint
  entry: make helm-lint
  language: system

golangci-lint:
  name: Execute golangci-lint
  entry: make golint
  language: system

feat(tenant): improve cordoning selection
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  controllers/tenant/namespaces.go
  pkg/webhook/tenant/namespace_cordoning.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): improve cordoning selection
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  main.go
  pkg/webhook/namespace/patching.go
  pkg/webhook/namespace/user_metadata.go
  pkg/webhook/route/namespace_cordoning.go
  pkg/webhook/route/namespaces.go
  pkg/webhook/tenant/forbidden_annotations_regex.go
  pkg/webhook/tenant/namespace_cordoning.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): improve cordoning selection
  main.go
  pkg/utils/tenant_labels.go
  pkg/webhook/namespace/patching.go
  pkg/webhook/namespace/user_metadata.go
Due: golangci-lint

feat(tenant): improve cordoning selection
  charts/capsule/values.schema.json
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): improve cordoning selection
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
  pkg/webhook/namespace/patching.go
  pkg/webhook/tenant/forbidden_annotations_regex.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): improve cordoning selection
  charts/capsule/README.md
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): improve cordoning selection
  controllers/tenant/namespaces.go
  main.go
  pkg/webhook/namespace/patching.go
Due: golangci-lint

feat(tenant): improve cordoning selection
  pkg/webhook/namespace/patching.go
Due: golangci-lint

chore: usage
  api/v1beta2/resourcepool_func.go
  api/v1beta2/resourcepool_types.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  controllers/resourcepools/utils.go
  e2e/resourcepool_test.go
  pkg/meta/conditions.go
  pkg/meta/finalizers.go
  pkg/meta/ownerreference.go
  pkg/utils/name.go
  pkg/webhook/resourcepool/pool_mutating.go
  quota.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): improve cordoning selection
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  charts/capsule/values.yaml
  controllers/tenant/namespaces.go
  main.go
  pkg/utils/tenant_labels.go
  pkg/webhook/namespace/mutation/cordoning.go
  pkg/webhook/namespace/validation/errors.go
  pkg/webhook/namespace/validation/freezed.go
  pkg/webhook/namespace/validation/patch.go
  pkg/webhook/namespace/validation/prefix.go
  pkg/webhook/namespace/validation/quota.go
  pkg/webhook/namespace/validation/user_metadata.go
  pkg/webhook/ownerreference/mutation/patching.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): improve cordoning selection
  charts/capsule/README.md
  e2e/tenant_cordoning_test.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): improve cordoning selection
  e2e/tenant_cordoning_test.go
Due: golangci-lint

feat(tenant): improve cordoning selection
  charts/capsule/values.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): improve cordoning selection
  charts/capsule/README.md
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
  main.go
  pkg/webhook/namespace/mutation/cordoning.go
  pkg/webhook/namespace/mutation/ownerreference.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat(tenant): improve cordoning selection
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): improve cordoning selection
  pkg/webhook/namespace/mutation/cordoning.go
Due: golangci-lint

feat(tenant): improve cordoning selection (#1424)
  charts/capsule/README.md
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
  controllers/tenant/namespaces.go
  e2e/tenant_cordoning_test.go
  main.go
  pkg/utils/tenant_labels.go
  pkg/webhook/namespace/mutation/cordoning.go
  pkg/webhook/namespace/mutation/ownerreference.go
  pkg/webhook/namespace/validation/errors.go
  pkg/webhook/namespace/validation/freezed.go
  pkg/webhook/namespace/validation/patch.go
  pkg/webhook/namespace/validation/prefix.go
  pkg/webhook/namespace/validation/quota.go
  pkg/webhook/namespace/validation/user_metadata.go
  pkg/webhook/route/customresources.go
  pkg/webhook/route/namespaces.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

fix: Remove command from daemonset template (#1408)
  charts/capsule/templates/daemonset.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

chore: remove wasm build
  .goreleaser.yml
Due: none

chore: remove wasm build (#1442)
  .goreleaser.yml
Due: none

[ci skip] chore: progress
  PROJECT
  api/v1beta2/resourcepool_func.go
  api/v1beta2/resourcepoolclaim_types.go
  api/v1beta2/resourcepoolusage_types.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_resourcepoolusages.yaml
  claim.yaml
  config/crd/kustomization.yaml
  config/rbac/resourcepoolusage_admin_role.yaml
  config/rbac/resourcepoolusage_editor_role.yaml
  config/rbac/resourcepoolusage_viewer_role.yaml
  config/samples/capsule_v1beta2_resourcepoolusage.yaml
  config/samples/kustomization.yaml
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  controllers/resourcepools/utils.go
  pkg/meta/conditions.go
  pkg/meta/ownerreference.go
  pkg/metrics/pool_recorder.go
  quota.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat: Add support for additionalMetadataList
  api/v1beta2/namespace_options.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_globaltenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
  config/crd/bases/capsule.clastix.io_tenants.yaml
  controllers/tenant/namespaces.go
  docs/content/general/crds-apis.md
  docs/content/general/tutorial.md
  e2e/namespace_additional_metadata_test.go
  pkg/api/additional_metadata.go
  pkg/api/zz_generated.deepcopy.go
  pkg/utils/namespace_selector.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

docs: change description
  pkg/utils/namespace_selector.go
Due: golangci-lint

fix: missing bracket
  controllers/tenant/namespaces.go
Due: golangci-lint

fix: removed duplicated if statement
  controllers/tenant/namespaces.go
Due: golangci-lint

chore: adjustments after review
  api/v1beta2/namespace_options.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_globaltenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
  controllers/tenant/namespaces.go
  e2e/namespace_additional_metadata_test.go
  pkg/api/additional_metadata.go
  pkg/api/zz_generated.deepcopy.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

chore: Sync `syncNamespaceMetadata` method
  controllers/tenant/namespaces.go
Due: golangci-lint

feat: Add additionalMetadataList Support for Conditional Metadata Assignment (#1339)
  api/v1beta2/namespace_options.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
  controllers/tenant/namespaces.go
  e2e/namespace_additional_metadata_test.go
  pkg/api/additional_metadata.go
  pkg/api/zz_generated.deepcopy.go
  pkg/utils/namespace_selector.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint

feat: namespace metadata sync on creation #1378
  controllers/tenant/namespaces.go
  e2e/namespace_metadata_controller_test.go
  e2e/namespace_metadata_webhook_test.go
  main.go
  pkg/webhook/namespace/mutation/cordoning.go
  pkg/webhook/namespace/mutation/metadata.go
  pkg/webhook/namespace/mutation/ownerreference.go
  pkg/webhook/namespace/mutation/utils.go
Due: golangci-lint

fix(tenant): internal error is not returned in cordon webhook
  pkg/webhook/namespace/mutation/cordoning.go
Due: golangci-lint

fix(utils): lint on pkg/utils/namespace_selector.go
  pkg/utils/namespace_selector.go
Due: golangci-lint

feat: namespace metadata sync on creation #1378 (#1379)
  controllers/tenant/namespaces.go
  e2e/namespace_metadata_controller_test.go
  e2e/namespace_metadata_webhook_test.go
  main.go
  pkg/utils/namespace_selector.go
  pkg/webhook/namespace/mutation/cordoning.go
  pkg/webhook/namespace/mutation/metadata.go
  pkg/webhook/namespace/mutation/ownerreference.go
  pkg/webhook/namespace/mutation/utils.go
Due: golangci-lint

Path conditions:
  run-helm-docs: any of: ^charts/
  run-helm-schema: any of: ^charts/
  run-helm-lint: any of: ^charts/
  golangci-lint: any of: \.go$
