Repository projectcapsule/capsule: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint, go-test

run-helm-docs:
  name: Execute helm-docs
  entry: make helm-docs
  language: system

run-helm-schema:
  name: Execute helm-schema
  entry: make helm-schema
  language: system

run-helm-lint:
  name: Execute helm-lint
  entry: make helm-lint
  language: system

golangci-lint:
  name: Execute golangci-lint
  entry: make golint
  language: system

go-test:
  name: Execute go test
  entry: make test
  language: system

feat(tenant): support gateway/class
  Makefile
  e2e/gateway_class_test.go
Due: golangci-lint, go-test

feat(tenant): support gateway/class
  e2e/gateway_class_test.go
  pkg/webhook/defaults/errors.go
  pkg/webhook/defaults/gateway.go
Due: golangci-lint, go-test

feat(tenant): support gateway/class
  charts/capsule/templates/pre-delete/job.yaml
  e2e/gateway_class_test.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint, go-test

feat(tenant): support gateway/class
  charts/capsule/templates/pre-delete/job.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

chore: fix racing conditions
  charts/capsule/README.md
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint, go-test

chore: remove unecessary pre-commit hook
  .pre-commit-config.yaml
Due: none

fix(helm): remove incompatible comparison
  charts/capsule/templates/crd-lifecycle/job.yaml
  charts/capsule/templates/post-install/job.yaml
  charts/capsule/templates/pre-delete/job.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

chore: add stale-workflow
  .github/workflows/stale.yml
Due: none

chore: housekeeping tasks (#1465)
  .github/workflows/stale.yml
  charts/capsule/templates/crd-lifecycle/job.yaml
  charts/capsule/templates/post-install/job.yaml
  charts/capsule/templates/pre-delete/job.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): support gateway/class
  e2e/gateway_class_test.go
Due: golangci-lint, go-test

chore: make values compatible
  charts/capsule/README.md
  charts/capsule/values.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

chore(deps): update capsule-proxy docker tag to v0.9.4
  charts/capsule/Chart.lock
  charts/capsule/Chart.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat(tenant): support gateway/class (#1463)
  Makefile
  api/v1beta2/gateway_options.go
  api/v1beta2/tenant_types.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/README.md
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
  e2e/gateway_class_test.go
  go.mod
  go.sum
  main.go
  pkg/api/allowed_list.go
  pkg/api/zz_generated.deepcopy.go
  pkg/webhook/defaults/errors.go
  pkg/webhook/defaults/gateway.go
  pkg/webhook/defaults/handler.go
  pkg/webhook/gateway/errors.go
  pkg/webhook/gateway/utils.go
  pkg/webhook/gateway/validate_class.go
  pkg/webhook/route/gateway.go
  pkg/webhook/utils/error.go
  pkg/webhook/utils/resources.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint, go-test

chore: fix custom resources test
  e2e/custom_resource_quota_test.go
  pkg/metrics/claim_recorder.go
Due: golangci-lint, go-test

chore(deps): update capsule-proxy docker tag to v0.9.5
  charts/capsule/Chart.lock
  charts/capsule/Chart.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

chore(deps): update capsule-proxy docker tag to v0.9.5 (#1469)
  charts/capsule/Chart.lock
  charts/capsule/Chart.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

chore: correct metrics
  cmd/main.go
  controllers/tenant/manager.go
  controllers/tenant/resourcequotas.go
  pkg/metrics/claim_recorder.go
  pkg/metrics/metrics.go
  pkg/metrics/pool_recorder.go
  pkg/metrics/tenant_recorder.go
Due: golangci-lint, go-test

chore: correct metrics
  api/v1beta2/capsuleconfiguration_types.go
  api/v1beta2/tenantresource_namespaced.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_capsuleconfigurations.yaml
  charts/capsule/crds/capsule.clastix.io_globaltenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenantresources.yaml
  charts/capsule/crds/capsule.clastix.io_tenants.yaml
  controllers/config/manager.go
  controllers/resources/global.go
  controllers/resources/manager.go
  controllers/resources/processor.go
  pkg/api/sa_client.go
  pkg/configuration/client.go
  pkg/configuration/configuration.go
  pkg/configuration/utils.go
  tmp/claims.yaml
  tmp/deploy.yaml
  tmp/ppools.yaml
  tmp/tnt.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint, go-test

chore(workflows): update actions stale message
  .github/workflows/stale.yml
Due: none

chore(workflows): update actions stale message (#1473)
  .github/workflows/stale.yml
Due: none

chore: correct metrics
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/crds/capsule.clastix.io_capsuleconfigurations.yaml
  charts/capsule/templates/mutatingwebhookconfiguration.yaml
  charts/capsule/templates/validatingwebhookconfiguration.yaml
  charts/capsule/values.yaml
  controllers/resources/global.go
  controllers/resources/manager.go
  controllers/resources/namespaced.go
  controllers/resources/processor.go
  go.mod
  main.go
  pkg/api/sa_client.go
  pkg/utils/serviceaccount.go
  pkg/webhook/route/tenantresource.go
  pkg/webhook/route/tenantresource_objs.go
  pkg/webhook/tenantresource/namespaced_mutating.go
  pkg/webhook/tenantresource/objects_validating.go
  tmp/claims.yaml
  tmp/deploy.yaml
  tmp/ppools.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint, go-test

chore: fix binary directory
  .github/workflows/docker-publish.yml
  .goreleaser.yml
Due: none

chore: fix binary directory (#1474)
  .github/workflows/docker-publish.yml
  .goreleaser.yml
Due: none

chore(e2e): change size of the runner
  .github/workflows/e2e.yml
Due: none

chore(releaser): change size of the runner
  .github/workflows/releaser.yml
Due: none

chore(releaser): change size of the runner (#1476)
  .github/workflows/releaser.yml
Due: none

chore: promot hristo hristov as maintainer
  .github/maintainers.yaml
  MAINTAINERS.md
Due: none

chore: promot hristo hristov as maintainer
  .github/maintainers.yaml
Due: none

chore: promote hristo hristov as maintainer (#1477)
  .github/maintainers.yaml
  MAINTAINERS.md
Due: none

feat: Permission CRD
  PROJECT
  api/v1beta2/tenantpermission_types.go
  api/v1beta2/zz_generated.deepcopy.go
  controllers/tenantpermission/tenantpermission_controller.go
  e2e/tenantpermission_controller_test.go
  go.sum
  hack/create-user-openshift.sh
  hack/create-user.sh
  hack/local-test-with-kind.sh
  hack/velero-restore.sh
Due: golangci-lint, go-test

feat: Permission CRD
  api/v1beta2/tenantpermission_types.go
  controllers/tenantpermission/tenantpermission_controller.go
Due: golangci-lint, go-test

feat(resourcepools): add improved metrics
  api/v1beta2/resourcepool_status.go
  api/v1beta2/zz_generated.deepcopy.go
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  controllers/resourcepools/types.go
  pkg/api/exhaustion.go
  pkg/api/zz_generated.deepcopy.go
  pkg/metrics/claim_recorder.go
  pkg/metrics/pool_recorder.go
Due: golangci-lint, go-test

feat(helm): add resourcepool dashboard
  Makefile
  charts/capsule/README.md
  charts/capsule/README.md.gotmpl
  charts/capsule/ci/monitoring-values.yaml
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  charts/capsule/dashboards/resourcepools-dashboard.json
  charts/capsule/templates/dashboards.yaml
  charts/capsule/templates/servicemonitor.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
Due: run-helm-docs, run-helm-schema, run-helm-lint

feat: improve resourcepool monitoring (#1488)
  Makefile
  api/v1beta2/resourcepool_status.go
  api/v1beta2/zz_generated.deepcopy.go
  charts/capsule/README.md
  charts/capsule/README.md.gotmpl
  charts/capsule/ci/monitoring-values.yaml
  charts/capsule/crds/capsule.clastix.io_resourcepools.yaml
  charts/capsule/dashboards/resourcepools-dashboard.json
  charts/capsule/templates/dashboards.yaml
  charts/capsule/templates/servicemonitor.yaml
  charts/capsule/values.schema.json
  charts/capsule/values.yaml
  controllers/resourcepools/claim_controller.go
  controllers/resourcepools/pool_controller.go
  controllers/resourcepools/types.go
  pkg/api/exhaustion.go
  pkg/api/zz_generated.deepcopy.go
  pkg/metrics/claim_recorder.go
  pkg/metrics/pool_recorder.go
Due: run-helm-docs, run-helm-schema, run-helm-lint, golangci-lint, go-test

chore: implement impersonation
  controllers/resources/global.go
  controllers/resources/namespaced.go
  e2e/tenantresource_impersonation_test.go
  pkg/utils/serviceaccount_test.go
Due: golangci-lint, go-test

chore: add nwa
  .nwa-config
  Makefile
Due: none

Path conditions:
  run-helm-docs: any of: ^charts/
  run-helm-schema: any of: ^charts/
  run-helm-lint: any of: ^charts/
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
